

.jumbotron{
  background-image: url("images/background.jpg");
  background-size: cover;
}

.regUser{
  padding: 10px 25px;
  border: 1px solid;
  margin-top: 70px;
}

label{
  color:white;
}

.pdate{
  float: right;
}
