{% extends 'blog/base.html' %}
{% load static %}

{% block body %}
<div class="jumbotron">
     <div class="container">
       <h1>Hello, world!</h1>
       <p>Hi there. This is mi first app in django</p>
       <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
     </div>
</div>
<ul class="list-group">
  {% for i in blogPost %}
  <li >
    <h2>{{i.title}}</h2>
    <div class="well">{{i.blog_text}}
      <p class="pdate">{{i.pub_date}}</p>
    </div>

  </li>
  {% endfor %}
</ul>

{% endblock %}
